@font-face {
  font-family: 'Hey Comic';
  src: url('../assets/fonts/HeyComicCustom.ttf') format('truetype');
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    min-height: 90vh;
    background-color: #555563;
}

.main p {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.title {
    line-height: 1.15;
    font-size: 2rem;
    color: white;
    cursor: default;
    margin: 15px;
    font-family: 'Hey Comic';
    letter-spacing: 1px;
}

.layout {
    display: flex;
    width: 95%;
    height: 70%;
    padding: 1%;
    gap: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 100%;
    gap: 10px;
    font-family: 'Hey Comic';
}
.Inventaire{
    color: white
}
.perso {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #cccccb;
    width: 50%;
    height: 100%;
    font-family: 'Hey Comic';
    font-size: 20px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgPerso {
    width: 75%;
    max-height: 500px;
    object-fit: contain;
}

.tete {
    background-color: #cccccb;
    height: 25%;
}

.haut {
    background-color: #cccccb;
    height: 25%;
}

.bas {
    background-color: #cccccb;
    height: 25%;
}

.pied {
    background-color: #cccccb;
    height: 25%;
}

.lienShop:hover {
    cursor: pointer;
    color: #E3505A;
}

.lienShop{
    font-family: 'Hey Comic';
    margin-top: 50px;
}
.modalOverlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    text-align: center;
    font-family: 'Hey Comic';
}
.modal h2 {
    margin: 0 0 20px;
    font-size: 2em;
    color: #C9333E;
}
.modal p {
    margin: 0;
    font-size: 1.5em;
    color: #555563;
}
.closeBtn {
    position: absolute;
  top: 70px;
  right: 15px;
  background: none;
  border: none;
  font-size: 5rem;
  font-family: 'Hey Comic';
  color: white;
  cursor: pointer;
}

@media (max-width: 750px) {
    .closeBtn {
        top: 3px;
    }
}
