.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #555563;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}
.btn{
  background-color: #C9333E;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  padding: 15px;
  border-radius: 50px;
  width: 60%;
  border: solid #C9333E 1px;
  margin-top: 50px;
  box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  -webkit-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  cursor: pointer;
}
.btn:hover{
  background-color: #E3505A;
  border: solid #E3505A 1px;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}


@media (min-width: 1200px) { 
  .title {
    font-size: 7rem;
  }
  .btn{
    width: 40%;
  }
}
@media (min-width: 1600px) { 
  .title {
    font-size: 7rem;
  }
  .btn{
    width: 30%;
  }
}
