@font-face {
  font-family: 'Hey Comic';
  src: url('../assets/fonts/HeyComicCustom.ttf') format('truetype');
}

@font-face {
  font-family: "ToastyMilk";
  src: url('../assets/fonts/Toasty\ Milk.ttf') format('truetype');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 90vh;
  background-color: #555563;
}

.title {
  line-height: 1.15;
  color: white;
  margin-bottom: -20px;
  margin-top: 2%;
  cursor: default;
  font-family: 'ToastyMilk';
  font-size: 70px;
}
.btn{
  background-color: #C9333E;
  font-family: 'Hey Comic';
  font-size: 30px;
  color: white;
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  border: solid #C9333E 1px;
  margin: 5%;
  margin-top: 30px;
  box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  -webkit-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
  cursor: pointer;
}
.btn:hover{
  background-color: #E3505A;
  border: solid #E3505A 1px;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
.nbQuate{
  color: gold;
  font-size: 18px;
  margin-bottom: -10px;
  margin-left: 50px;
}
.displayQuete{
  margin-left: -80%;
  margin-top: 10%;
}


@media (min-width: 700px) { 
  .title {
    font-size: 6rem;
  }
  .btn{
    width: 40%;
    margin-top: 40px;
    padding: 15px;
  }
}

@media (min-width: 1200px) { 
  .title {
    font-size: 7rem;
    margin-bottom: 3%;
  }
  .btn{
    width: 40%;
    margin-top: 40px;
    padding: 15px;
  }
}

@media (min-width: 1600px) { 
  .title {
    font-size: 8rem;
    margin-bottom: 30px;
  }
  .btn{
    width: 30%;
    margin-top: 50px;
    padding: 20px;
  }
  .displayQuete{
    margin-top: -2%;
  }
}