@font-face {
    font-family: 'Hey Comic';
    src: url('../assets/fonts/HeyComicCustom.ttf') format('truetype');
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    background-color: #555563;
    margin-bottom: 50px;
}

.title {
    line-height: 1.15;
    font-size: 4rem;
    color: white;
    margin-bottom: 20px;
    cursor: default;
    font-family: 'Hey Comic';
    font-size: 70px;
}
.btn{
    background-color: #C9333E;
    font-size: 22px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 60%;
    border: solid #C9333E 1px;
    margin-top: 30px;
    box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
    -webkit-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
    -moz-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.82);
    cursor: pointer;
}
.btn:hover{
    background-color: #E3505A;
    border: solid #E3505A 1px;
}
.h2{
    display: flex;
    justify-content: center;
    background-color: #C9333E;
    font-family: 'Hey Comic';
    font-size: 30px;
    color: white;
    padding: 5px;
    border-radius:10px;
    width: 70%;
    border: solid #C9333E 1px;
    margin-top: 30px;
    margin-bottom: 3px;
    cursor: default;
    letter-spacing: 2px;
}
.ListContainer{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
    width: 70%;
    font-family: 'Hey Comic';
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.ListContainerLast{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
    min-height: 30vh;
    width: 70%;

}
.backBtn{
    background-color: #555563;
    color: white;
    position: absolute;
    left: 30px;
    top: 120px;
    border: 1px #555563 solid;
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 700px) { 
    .ListContainer{
        width: 80%;
    }
}

@media (min-width: 1200px) { 
    .title{
        font-size: 7em;
    }
    .h2{
        width: 50%;
        margin-top: 40px;
        padding: 15px;
    }
    .ListContainer{
        width: 50%;
    }
}
@media (min-width: 1400px) { 
    .title{
        font-size: 7em;
    }
    .h2{
        width: 50%;
        margin-top: 40px;
        padding: 15px;
    }
    .ListContainer{
        width: 50%;
    }
}

@media (min-width: 1600px) { 
    .title{
        font-size: 7em;
    }
    .h2{
        width: 50%;
        margin-top: 50px;
        padding: 20px;
    }
    .ListContainer{
        width: 50%;
    }
}